#col_channels {
  position: fixed;
  width: 220px;
  background-color: #3e313c;
  color: #fff;
  padding: 10px;
  float: left;
  height: 100%;
}

#channel_list {
  display: inline-block;
}

// channel list item
#channel-item {
  height: 20px;
}

#channel-item button {
  background-color: #ab9ba9;
  border-radius: 10px;
  border: 1px solid #ab9ba9;
  color: #000;
  height: 15px;
  width: 100%;
}

#channels-header span {
  color: #ab9ba9;
}

#new-channel-btn {
  float: right;
  width: 18px;
  height: 18px;
  border: 2px solid #ab9ba9;
  border-radius: 50%;
  background-color: #3e313c;
  color: #ab9ba9;
  padding-bottom: 2px;
}