#col_channels {
  position: fixed;
  width: 220px;
  background-color: #3e313c;
  color: #fff;
  padding: 10px;
  float: left;
  height: 100%;
}

#channel_list {
  display: inline-block;
}

#channel-item a {
  color: #fff;
  text-decoration: none;
}

#channels-header span {
  color: #ab9ba9;
}

#new-channel-btn {
  float: right;
  width: 18px;
  height: 18px;
  border: 2px solid #ab9ba9;
  border-radius: 50%;
  background-color: #3e313c;
  color: #ab9ba9;
  padding-bottom: 2px;
}