#login-container {
  background-color: #000;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#login-content {
  margin: 20% auto;
  text-align: center;
}

#login-container button {
  background-color: #1D3C7F;
  border: 1px solid #1D3C7F;
  border-radius: 5px;
  display: inline-block;
  width: 200px;
  height: 40px;
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}

#login-container button:hover {
  background-color: #0B3288;
  border: 1px solid #0B3288;
}

#login-container button:focus {
  outline: 0;
}

#login-container h3 {
  color: #fff;
}